<!DOCTYPE html>
<html>
<head>
	<title>Reboot | Quiz Up</title>
	<link rel="stylesheet" href="../static/css/main.css" />
</head>
<body>
	<div class="container">
		<ul id="results">
	        <li class="results-inner">
	            <p>Your result is:</p>
	            <h1>{{ score }}</h1>
	            <p class="desc">Thanks for playing. Come again for more!</p>
	        </li>
	    </ul>
		<button id="myButton" class="float-left submit-button" >Restart</button>
	</div>

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- End JS -->
	<script src="../static/js/end.js"></script>
</body>
</html>