<html>
<head>
	<title>Reboot | Quiz Up</title>
	<link rel="stylesheet" href="../static/css/intro.css">
</head>
<body>
	<div class="intro">
		<article class="starwars">
			<audio preload="auto">
				<source src="http://s.cdpn.io/1202/Star_Wars_original_opening_crawl_1977.mp3" type="audio/mpeg" />
			</audio>
			<section class="start">
				<p>
					Start <br> <span>Quiz Up</span> <br> from 2016
					<br>
					<span>Remake by Enkindle</span>
				</p>
			</section>
			<div class="animation">
				<section class="intro">
					A long time ago, in a college far,<br> far away....
				</section>
				<section class="titles">
					<div spellcheck="false">  
						<p>
							Quiz Up - Episode I
						</p>
						<p>
							Connecting people through shared interests.
						</p>
						<p>
							You'll find out who knows the best about TV shows and Movies.
						</p>
						<p>
							Play against your friends.
						</p>
						<p>
							And it's for just Rs. 20 only.
						</p>
						<p>
							Win and take it all.
						</p>
						<p>
							Discover like-minded people.
						</p>
					</div>
				</section>
			</div>
		</article>
	</div>
	<div class="center">
		<button id="myButton" class="float-left submit-button" >Start</button>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../static/js/start.js"></script>
</body>
</html>